.container {
  max-width: 67rem;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.mainBorder {
  border-left: 1px solid rgb(236, 236, 236);
  border-right: 1px solid rgb(236, 236, 236);
  position: relative;
}

.mainBorder:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  border-right: 1px solid rgb(236, 236, 236);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .mainBorder:before {
    content: none;
  }
}

.footer {
  background-color: #10059F;
  height: 400px;
  width: 100%;
  z-index: 50;
  position: relative;
}