html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
  /*background-color: #10059F;*/
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.header2 {
  font-weight: bold;
  font-size: 30px;
}

.secondColor {
  color: #130a6a;
}

.textBorder {
  position: relative;
}

.textBorder:before {
  content: "";
  height: 175%;
  margin-top: -60px;
  position: absolute;
  width: 120vw;
  background-color: #130a6a;
  z-index: -1;
  top: -0;
  left: -80vw;
}

.textBorder-short {
  position: relative;
}

.textBorder-short:before {
  content: "";
  height: 175%;
  margin-top: -40px;
  position: absolute;
  width: 100%;
  background-color: #130a6a;
  z-index: -1;
  left: 100px;
}

@media only screen and (max-width: 767px) {
  .textBorder:before {
    height: 240%;
  }
}

@media only screen and (max-width: 657px) {
  .textBorder:before {
    height: 200%;
  }
}

@media only screen and (max-width: 639px) {
  .textBorder:before {
    height: 480%;
    width: 140vw;
  }
}

@media only screen and (max-width: 400px) {
  .textBorder:before {
    height: 320%;
    width: 140vw;
  }
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
